* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #4D4D4D;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.flexR {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flexC {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.header {
    height: 96px;
    width: 100%;
    padding-top: 24px;
}
.header-logo-img {
    height: 49px;
    width: 408px;
}
.header-nav-links {
    display: flex;
    align-items: center;
}
.header-nav{
    width: 50%;
}
.header-nav-link {
    margin-right: 15px;

}

.header-nav-link a {
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}

.header-nav-search {
    display: flex;
    align-items: center;
    width: 266px;
    height: 32px;
}
.header-nav-search-ic {
    display: none;
    width: 32px;
    height: 32px;
    margin-right: 15px;
}
.header-nav-search input {
    width: 100%;
    height: 32px;
    border: 1px solid #B3B3B3;
    background: #FFF;
}

.header-nav-search button {
    width: 32px;
    height: 32px;
    background: #009EE8;
    border: none;
}

.contactUs {
    width: 100%;
    height: 266px;
    background: linear-gradient(270deg, #E3EEFA 59.35%, rgba(227, 238, 250, 0.00) 100%), linear-gradient(90deg, #E3EEFA 33.22%, rgba(227, 238, 250, 0.00) 100%), url(<path-to-image>), lightgray 333.054px -9.515px / 71.042% 106.479% no-repeat;
    padding-left: 20px;
}

.contactUs .container {
    background: url('./image/bg-contactUs.png') no-repeat;
    background-position: top center;
    height: 100%;
    width: 100%;
}

.contactUs-links {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 16px;
}
.contactUs-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.contactUs-link a{
    width: 100%;
    text-decoration: none;
    border-bottom: 1px solid #E3EEFA;
}
.contactUs-link a:hover {
    border-bottom: 1px solid #4D4D4D;
    cursor: pointer;
}
.contactUs-info {
    margin-top: 60px;
    gap: 16px;
    justify-content: flex-start;
}

.contactUs-info-title {
    width: 20%;
}
.contactUs-info-description {
    width: 50%;
}

.writeUs {
    margin-bottom: 160px;
}

.writeUs-cont {
    width: 706px;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.writeUs-inputs-title {
    padding: 60px 0;
    font-size: 24px;
    font-weight: 700;
    color: #009EE8;
}

.writeUs-input {
    margin-bottom: 20px;
}

.writeUs-input label {
    width: 30%;
}
.writeUs-input select {
    width: 546px;
    height: 32px;
    border: 1px solid #B3B3B3;
    background: #FFF;
}

.writeUs-input input {
    width: 546px;
    height: 32px;

}


.big input {
    width: 546px;
    height: 140px;
}

.writeUs-description {
    margin-top: 190px;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.writeUs-button {
    width: 160px;
    height: 50px;
    border: none;
    border-radius: 4px;
    background: #009EE8;
    color: #FFF;
    position: absolute;
    right: 0;
    bottom: -50px;

}

.email-section {
    width: 100%;
    height: 100%;
    padding: 20px;
    background: #CFEFFF;

}
.writeUs-input input .error {
    border: 1px solid red;
    background: #FFF;
}

.email-info {
    margin: 0 auto;
    width: 400px;
    height: 104px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.email-cont {
    margin: 0 auto;
    width: 40%;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.email-info-title {
    color: #009EE8;
    padding-bottom: 13px;
}

.ofBanks {
    width: 100%;
}

.ofBanks-title {
    text-align: center;
    padding: 60px 0px;
    font-size: 24px;
    color: #4D4D4D;
}

.ofBanks-items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

.ofBanks-item {
    display: flex;
    align-items: center;
    padding-bottom: 60px;
    gap: 15px;
}

.ofbanks-item-info h3 {
    color: #009EE8;
    padding-bottom: 10px;
}

.footer {
    background-image: url('/image/footerBg.png');
    border-bottom: #262626 5px solid;
}

.footer-logo {
    align-items: flex-start;
}

.footer-logo p {
    color: #FFF;
    padding: 24px;
}

.footer-nav {
    width: 100%;
    margin: 40px 0;
    gap: 40px;

}

.footer-nav-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    flex-wrap: wrap;
}

.footer-nav-link {
    list-style: none;
    color: #FFF;
    border-bottom: #4D4D4D 1px solid;
}
.footer-nav-link:hover {
    border-bottom: #FFF 1px solid;
    cursor: pointer;

}

.footer-nav-social h3 {
    color: #FFF;

}
.footer-nav-social {
    left: 0;
    justify-content: flex-end;
}
.footer-main {
    border-bottom: #262626 3px solid;

}
.foot{
    background-image: url('/image/footerBg.png');

}
.foot p {
    padding: 30px 0px;
    font-size: 14px;
    color: #FFF;
}
@media all and (max-width: 992px) {


    .container {
        width: 100%;
    }
    .header-nav {
        display: flex;
        flex-direction: column;
    }
    .writeUs .container {
        display: flex;
        flex-direction: column;
    }
    .header-nav-search{
        width: 100%;
    }
    .ofBanks-items {
        flex-direction: column;
    } 

}
@media all and (max-width: 320px) {
    .header-nav-links {
        display: none;
    }
    .header-nav-search input{
        display: none;

    }
    .header-nav-search-ic {
        display: block;
    }
}